<div class="modal fade" id="confirmationWindow" tabindex="-1" aria-labelledby="confirmationWindowLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationWindowLabel">Confirm Transaction?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submitTransactionButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>

    async function submitTransaction(transaction, route) {

        const formData = new FormData();

        for (const key in transaction) {
            if (transaction.hasOwnProperty(key)) {
                formData.append(key, transaction[key]);
            }
        }


        const response = await fetch(route, {
            method: "POST",
            body: formData,
        });

    }
</script>