<div class="d-flex flex-column flex-shrink-0 align-items-center bg-light" style="height:100vh;">
    <a class="d-flex mt-4 mb-3 link-dark text-decoration-none">
        <img src="~/Images/blank-profile-picture.png" class="img-thumbnail rounded mx-auto d-block"
            alt="profile-picture" width="200px" height="200px">
        <hr>
    </a>
    <div>
        <span class="fs-4">Welcome Connor!</span>
    </div>
    <hr>
    <a class="fs-5">Logout</a>
</div>
