<h3>Billpay</h3>

<div>
    <div>Currently Scheduled Bills</div>
    <ul>
        @foreach(BillPay billpay in Model.BillPays){
            <li>@billpay.AccountNumber</li>
            <li>@billpay.ScheduleTimeUtc</li>
        }
    </ul>

    <button class="btn btn-primary">Schedule New Bill</button>

</div>
