@{
    ViewData["Title"] = "Login";
}

<div class="d-flex flex-column" height="100vh" width="300px">
    <div id="home-page" class="row" height="100vh" width="100vw">
        <div class="col-5"></div>
        <div class="col-2">
            @await Component.InvokeAsync("LoginForm")
        </div>
        <img src="~/Images/background.png" style="height:500px;">
        <div class="col-5"></div>
    </div>
</div>

