@model HomeViewDTO
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="homePageLeft">
        @await Component.InvokeAsync("SideBar")
    </div>
    <div class="col-5 mt-4" id="homePageMiddle">
        <div class="row" id="sidebar-viewport">
            <div id="depositView" class="d-block">@await Component.InvokeAsync("Deposit")</div>
            <div id="withdrawView" class="d-none"> @await Component.InvokeAsync("Withdraw")</div>
            <div id="transferView" class="d-none">@await Component.InvokeAsync("Transfer")</div>
            <div id="myStatementsView" class="d-none"> @await Component.InvokeAsync("MyStatements")</div>
            <div id="myProfileView" class="d-none">@await Component.InvokeAsync("MyProfile")</div>
            <div id="billPayView" class="d-none">@await Component.InvokeAsync("BillPay")</div>
        </div>
        <div class="row" id="account-display">
            <div class="container">
                <h4>Accounts:</h3>

                    <div class="container d-flex justify-content-left"></div>
                    @foreach (var item in Model.AccountViewModels)
                    {
                        <div class="card p-3" style="width:50%">
                            <div class="col">Account Number: @item.Account.AccountNumber</div>
                            <div class="col">Balance: $@item.Balance</div>
                        </div>
                    }
            </div>
        </div>
    </div>  
    <div class="col-2" id="homePageRight">
        @await Component.InvokeAsync("ProfileDisplay")
    </div>
</div>


<style>
    #homePageLeft {
        margin-left: 0vw;
        position: absolute;
    }

    #homePageMiddle {
        margin-left: 20vw;
        width: 50%;
        position: absolute;
        height: 70vh;
    }

    #account-display {
        margin-top: 70vh;
        margin-left: 16.5vw;
        position: absolute;
        height: 30vh;
        width:50%;
    }

    #homePageRight {
        position: absolute;
        margin-left: 83vw;
    }
</style>