@{
    ViewData["Title"] = "Home Page";
}


<div id="home-page" class="row" height="100vh" width="100vw">
    <div class="col-2">
        @await Component.InvokeAsync("SideBar")
    </div>
    <div class="col-8">
        <br>
        <br>
        <br>
    </div>
    <div class="col-2">
        @await Component.InvokeAsync("ProfileDisplay")
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded',async function(){
        var customerID = localStorage.getItem('customerID');
        console.log(customerID);
        if(customerID === null){
            window.location.href= "/Login";
        }
    })
</script>