<div class="pt-5" style="width:300px;">
    <div class="pt-5 pb-4">
        <div class="d-flex align-items-center flex-column mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-1 ps-2 fw-bold"> MCBA BANK</span> <br>
            <span class="fs-5 ps-2 "> Bank is where the money is.</span>
        </div>
    </div>

    <div class="my-4 px-4 pt-2 pb-3 border d-flex flex-column ">
        <div class="my-3 fs-3 fw-bold">Sign in:</div>

        <form id="loginForm" method="post" action="/Login/SubmitForm">
            <input id="customerID" name="customerID" class="form-control" type="text" placeholder="Customer ID" /> <br>
            <input name="password" class="form-control" type="text" placeholder="Password" />
            <button id="submitButton" type="submit" value="Submit"
                style="width:80%; margin-left:10%; border-radius:3rem;"
                class="btn btn-primary my-4 p-2 my-3 fw-bold">Sign In</button>
        </form>
    </div>
    <div style="width:80%; margin-left:10%">
        <a>Dont have an account?<a>
                <a href="#" class="">Register</a>
    </div>
</div>

<script>
    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(loginForm);

        const response = await fetch("Login/SubmitForm", {
            method: "POST",
            body: formData,
        });

        if (response.redirected) {
            var customerID = document.getElementById('customerID').value;
            console.log(customerID);
            localStorage.setItem('customerID', JSON.stringify(customerID));
            window.location.href = "/Home";
        } else {
            // Handle error message
        }
    });

</script>