<div class="d-flex flex-column flex-shrink-0 p-3 ps-3 bg-light" style="width: 300px; height:100vh;">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-3 ps-2 fw-bold"> <object type="image/svg+xml" data="~/Images/bank-icon.svg" height="28"
                width="36"></object>MCBA Online</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a id="toggleDeposit" type="button" class="btn menuBtn">
                Deposit
            </a>
        </li>
        <li class="nav-item">
            <a id="toggleWithdraw" type="button" class="btn menuBtn">
                Withdraw
            </a>
        </li>
        <li class="nav-item">
            <a id="toggleTransfer" type="button" class="btn menuBtn">
                Transfer
            </a>
        </li>
        <li class="nav-item">
            <a id="toggleMyStatements" type="button" class="btn menuBtn">
                MyStatements
            </a>
        </li>
        <li class="nav-item">
            <a id="toggleMyProfile" type="button" class="btn menuBtn">
                MyProfile
            </a>
        </li>
        <li class="nav-item">
            <a id="toggleBillPay" type="button" class="btn menuBtn">
                BillPay
            </a>
        </li>
    </ul>
    <hr>
    <div href="#" class="">
        <a>
            <span>created by Connor Logan, s3768929</span>
            <strong>RMIT University 2023</strong>
        </a>
    </div>
</div>
<style>
    .menuBtn:hover {
        background-color: gray;
        /* Change to the desired hover color */
        color: black;
        /* Change text color for better contrast */
    }
</style>

<script>

    function toggleView(viewId) {
        const views = ["depositView", "withdrawView", "transferView", "myStatementsView", "myProfileView", "billPayView"];
        for (const view of views) {
            const element = document.getElementById(view);
            if (view === viewId) {
                element.classList.remove("d-none");
                element.classList.add("d-block");
            } else {
                element.classList.remove("d-block");
                element.classList.add("d-none");
            }
        }
    }

    document.getElementById("toggleDeposit").addEventListener("click", function () {
        toggleView("depositView");
    });

    document.getElementById("toggleWithdraw").addEventListener("click", function () {
        toggleView("withdrawView");
    });

    document.getElementById("toggleTransfer").addEventListener("click", function () {
        toggleView("transferView");
    });

    document.getElementById("toggleMyStatements").addEventListener("click", function () {
        toggleView("myStatementsView");
    });

    document.getElementById("toggleMyProfile").addEventListener("click", function () {
        toggleView("myProfileView");
    });

      document.getElementById("toggleBillPay").addEventListener("click", function () {
        toggleView("billPayView");
    });
</script>